Source: ros-hydro-imu-compass
Section: misc
Priority: extra
Maintainer: Prasenjit Mukherjee <pmukherj@clearpathrobotics.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-geometry-msgs, ros-hydro-sensor-msgs, ros-hydro-std-msgs, ros-hydro-tf
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-imu-compass
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-geometry-msgs, ros-hydro-sensor-msgs, ros-hydro-std-msgs, ros-hydro-tf
Description: Node to combine IMU data (accelerometers and gyroscopes) with Compass data (magnetometers) for a cleaner reading of a Vehicles Heading
